@{
    ViewBag.Title = "Index";
}

<h3>If you end up here, that mean something is wrong.</h3>
<ul>
    <li><h4>The system may fail to get the info that it wants.</h4></li>
    <li><h4>You have to redirect yourself to other URL due to protection</h4></li>
    <li><h4>You repeated to create the same comment or submit with no comment.</h4></li>
    <li><h4>There may be no comments.</h4></li>
</ul>

