@{
    ViewBag.Title = "About";
}

<div class="about-content">
    <div class="container">
        <h2>Something About this Site</h2>
        <div class="about-section">
            <div class="about-grid">
                <h3>WHY I STARTED THIS BLOG?</h3>
                <p>
                    This is a project in one of my courses.
                </p>
                <p>
                    Using MVC to create blogs with DataBase and different roles of users.
                </p>
            </div>
            <div class="about-grid2">
                <h3>WHY YOU SHOULD READ THIS BLOG?</h3>
                <p>
                    You can see what I know in  C#, SQL and MVC  and what I build.
                </p>
                @*<ul>
                    <li><a href="#"></a></li>
                </ul>*@
            </div>
        </div>
    </div>
</div>